html, h1 {
    text-align:center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

div movies {
    width:45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    float: left;
    font-weight: 300;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px
    
}
div learned {
    width:45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    float: right;
    font-weight: 300;
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    
}
div link {
    width:100%;
    margin-top:60%;
    float: right;
    margin-bottom: 20px;
}

div link a {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    text-decoration: none;
}

div link a:hover{
    text-decoration: underline;
}
h3 {
   font-weight: 500; 
}